  <div class="media">
      <div class="media__image">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#snap"></use>
      </svg>
    </span>
      </div>
      <div class="media__body">
        <h3  class="media__title">Easy start & Managed Updates</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, inventore.</p>
      </div>
    </div>