<div class="plan">
  <div style="width: 50%; padding: 4rem">
    <div class="card card--secondary plan--popular">
      <header class="card__header">
        <h3 class="plan__name">Entry</h3>
        <span class="plan__price">14£</span>
        <span class="plan__billing-cycle">/month</span>
        <span class="badge badge--secondary badge--small">10% OFF</span>
        <span class="plan__description">Easy start on the cloud</span>
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__item">Unlimited Website</li>
          <li class="list__item">Unlimited Bandwidth</li>
          <li class="list__item">100 GB SSD Storage</li>
          <li class="list__item">3 GB RAM</li>
        </ul>
        <button class="btn btn--outline btn--block">Buy Now</button>
      </div>
    </div>
  </div>
</div>
